#left-icon-list-container {
    margin-left: 30px;
}

.fa-youtube {
    color: red;
    margin-top: 5px;
    font-size: 50px;
}

#logo-container {
    margin-left: 30px;
}

#logo-container p, i {
    float: left;
}

#youtube-font {
    margin-top: 20px;
    font-size: 20px;
    font-weight:bold;
}




#form-container{
    margin-left: 100px;
}

#form-container input {
    float: left;
    font-size: 35px;
    border: 1px solid gray;
    width: 700px;
    background: #f1f1f1;
}

#form-container button {
    float: left;
    border: 1px solid gray;
    width: 80px;
    height: 42px;
    background: #b3b6b9;
    cursor: pointer;
}

#form-container i {
    margin-left: 30px;
    color: white;
    font-size: 20px;
}






#tree-icons-navbar-container {
    margin-left:100px;
}

#tree-icons-navbar-container i
{
font-size: 25px;
color: black;
margin: 0 20px;
}
